.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.narrow-container {
	max-width: 800px;
	margin: 0 auto;
}
.header {
	position: absolute;
	top: 30px;
	left: 30px;
	user-select: none;
}
