<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin</title>
		<link rel="icon" href="/img/favicon.ico" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/admin.css" />
	</head>
	<body>
		<div class="center-container">
			<div class="container narrow-container">
				<div class="row">
					<div class="col-md-6">
						<!-- active barrels -->
						<table class="table">
							<thead>
								<tr>
									<td><b>Active Barrels</b></td>
								</tr>
							</thead>
							<tbody id="barrels-table-body">
								<tr th:each="barrel : ${barrels}">
									<td th:text="${barrel.id}"></td>
									<td th:text="barrel.time"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<!-- top 10 -->
						<table class="table">
							<thead>
								<tr>
									<td><b>Top 10 Searches</b></td>
								</tr>
							</thead>
							<tbody id="searches-table-body">
								<tr th:each="search, index : ${searches}">
									<td th:text="${index.count}"></td>
									<td th:text="${search}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<h1 class="header">Admin page</h1>
		<script src="/js/admin.js"></script>
	</body>
</html>
