<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Googol</title>
		<link rel="icon" href="/img/favicon.ico" />
		<link rel="stylesheet" href="/css/googol.css" />
	</head>
	<body>
		<div class="container">
			<h1 class="title">Googol</h1>
			<div class="input-box">
				<button class="search-button" type="button">
					<img src="/img/search.png" alt="search icon" />
				</button>
				<button class="adm-button" type="button">
					<img src="/img/setting.png" alt="adm" />
				</button>
				<input type="text" class="input" placeholder="Search..." />
			</div>
			<div class="index-box">
				<img src="/img/index.png" alt="INDEX" class="idx-img" />
				<input type="text" class="idx" />
			</div>
		</div>
		<script src="/js/googol.js"></script>
	</body>
</html>
