<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${query}">Googol Search</title>
		<link rel="icon" href="/img/favicon.ico" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
	</head>
	<link rel="stylesheet" href="/css/results.css" />
	<body>
		<div class="container-fluid">
			<h1 class="header">
				Search Results for <span th:text="${query}"></span>
			</h1>
		</div>
		<div class="container" id="results-container">
			<!-- Error -->
			<div
				th:if="${group == 'No results found.' or group == 'No barrels available.' or group == 'Error occurred during search.'}"
				class="alert alert-warning"
				role="alert"
			>
				<p th:text="${group}"></p>
			</div>
			<!-- Results -->
			<div
				th:if="${group != null and group != 'No results found.' and group != 'No barrels available.' and group != 'Error occurred during search.'}"
			>
				<div
					th:each="result : ${group}"
					class="resultItem"
					style="display: none"
				>
					<div>
						<h3><a th:href="${result.url}" th:text="${result.title}"></a></h3>
						<p th:text="${result.citation}"></p>
					</div>
				</div>
			</div>
		</div>

		<div
			th:if="${group != null and group != 'No results found.' and group != 'No barrels available.' and group != 'Error occurred during search.'}"
			class="pagination"
		>
			<button id="prevPage">Previous</button>
			<span id="currentPage">Page 1</span>
			<button id="nextPage">Next</button>
			<button id="hackerNews">Hacker News</button>
		</div>

		<script src="/js/search.js"></script>
	</body>
</html>
